<!DOCTYPE html>
<html lang="en" class="text-white bg-blue-900 antialiased">

<head>
	<!-- MOST META TAGS -->
	<link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css" />
	<link rel="apple-touch-icon" href="//www.wgyt.tk/images/logo.webp">
	<meta name="theme-color" content="#7f1d1d" />
	<link rel="shortcut icon" href="//www.wgyt.tk/images/logo.png">
	<link rel="icon" type="image/webp" href="//www.wgyt.tk/images/logo.webp">
	<link rel="shortcut icon" href="//www.wgyt.tk/images/logo.webp">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- SEO -->
	<title>
		<%-errornumber%> <%-errordesc%>
	</title>
	<!-- CSS AND JS -->
	<link href="//www.wgyt.tk/css/tailwind.css" rel="stylesheet">
</head>
<body>
	<!-- NAVBAR -->
<nav class="bg-red-900 p-2 mt-0 sticky w-full z-10 top-0 overflow-x-auto" id="top">
	<div class="container mx-auto flex flex-wrap items-center">
		<div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-bold"><a href="/" class="text-white no-underline hover:text-white hover:no-underline font-bold nuxt-link-active"><span class="text-2xl"><img src="//www.wgyt.tk/images/logo.webp" height="40" width="48" alt="Wgyt logo" class="h-10 pr-2 inline-block"><%-host%></span></a></div>
		</div>
	</nav>
	<!-- hero -->
	<div class="hero py-16 bg-black h-full" id="hero">
		<div class="container px-4 sm:px-8 lg:px-16 xl:px-20 mx-auto">
			<div class=" grid grid-cols-1 md:grid-cols-12 gap-8 items-center">
				<div class="col-span-6">
					<h1 class="font-bold text-4xl md:text-5xl max-w-xl leading-tight"><%-host%></h1> 
					<hr class="w-12 h-1 bg-red-600 rounded-full mt-8">
					<p class="text-2xl leading-relaxed mt-8 font-semibold"><%-errornumber%> Error</p>
				</div>
				<div class="col-span-6">
					<p class="text-2xl leading-relaxed mt-8 font-semibold"><%-errordesc%></p>
					<p class="text-2xl leading-relaxed mt-8 font-semibold">at <%-url%></p>
					<p class="text-2xl leading-relaxed mt-8 font-semibold">Thats all we know</p>
				</div>
			</div>
		</div>
	</div>
<footer class="bg-blue-900" id="bottom">
	<div class="max-w-6xl m-auto text-gray-800 flex flex-wrap justify-left">
		<div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
			<div class="text-xs uppercase text-white font-medium mb-6">Help</div>
			<a href="https://documentation.wgyt.tk/wgytcraft.cf/#error-codes" class="my-3 block text-white hover:text-gray-100 text-sm font-medium duration-700">
				Error Codes
			</a><a href="https://github.com/wgytwebsites/" class="my-3 block text-white hover:text-gray-100 text-sm font-medium duration-700">
				Get Help
			</a>
		</div>
	</div>
	<div class="pt-2">
		<div class="flex pb-5 px-3 m-auto pt-5 border-t border-gray-500 text-white text-sm flex-col md:flex-row max-w-6xl">
			<div class="mt-2">© Copyright 2021 William Horning. All Rights Reserved.</div>
		</div>
	</div>
</footer>
</body>